<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RockStar Boutique Shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='./css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='./css/estiloCompra.css')}}">
</head>

<body>

    <div class="wrapper">
        <header class="header-mobile">
            <h1 class="logo">RockStar Boutique Shop</h1>
            <button class="open-menu" id="open-menu">
                <i class="bi bi-list"></i>
            </button>
        </header>
        <aside>
            <button class="close-menu" id="close-menu">
                <i class="bi bi-x"></i>
            </button>
            <header>
                <h1 class="logo">RockStar Boutique Shop</h1>
            </header>
            <nav>
                <ul>
                    <li>
                        <a class="boton-menu boton-volver" href="/catalogo">
                            <i class="bi bi-arrow-return-left"></i> Seguir comprando
                        </a>
                    </li>
                    <li>
                        <a class="boton-menu boton-carrito active" href="/carrito">
                            <i class="bi bi-cart-fill"></i> Carrito
                        </a>
                    </li>
                </ul>
            </nav>
            <footer>
                <p class="texto-footer">© 2023 RockStar Boutique Shop</p>
            </footer>
        </aside>
        <main>
            <h2 class="titulo-principal">Carrito</h2>
            <div class="contenedor-carrito">
                <p id="carrito-vacio" class="carrito-vacio">Tu carrito está vacío. <i class="bi bi-emoji-frown"></i></p>

                <div id="carrito-productos" class="carrito-productos disabled">
                    <!-- Esto se va a completar con el JS -->
                </div>

                <div id="carrito-acciones" class="carrito-acciones disabled">
                    <div class="carrito-acciones-izquierda">
                        <button id="carrito-acciones-vaciar" class="carrito-acciones-vaciar">Vaciar carrito</button>
                    </div>
                    <div class="carrito-acciones-derecha">
                        <div class="carrito-acciones-total">
                            <p>Total:</p>
                            <p id="total">$3000</p>
                        </div>
                        <button id="carrito-acciones-comprar" class="carrito-acciones-comprar">Comprar ahora</button>
                    </div>
                </div>



                <form action="/addpedido" method="POST" id="carrito-comprado" class="carrito-comprado disabled"
                    onsubmit="beforeSubmit(event)">
                    <h1>DATOS DEL CLIENTES</h1>
                    <input type="text" placeholder="Nombre" name="nombre_cliente">
                    <input type="text" placeholder="Celular" name="numero_cliente">
                    <input type="text" placeholder="Direccion" name="direccion_cliente">


                    <!-- <p class="link"> SELECCIONAR UNA TALLA</p>
                <center><select id="talla" name="talla">
                        <option value="Talla xxs">XXS</option>
                        <option value="Talla xs">XS</option>
                        <option value="Talla s">S</option>
                        <option value="Talla M">M</option>
                        <option value="Talla L">L</option>
                        <option value="Talla xl">XL</option>
                </center>
                </select> -->

                    <p class="link"> METODO DE PAGO</p>
                    <center><select id="metodo_pago" name="metodo_pago">
                            <option value="NEQUI">NEQUI</option>
                            <option value="CONTRAENTREGA">CONTRAENTREGA</option>
                            <option value="RECOGER EN TIENDA">RECOGER EN TIENDA</option>
                    </center>
                    </select>
                    <button type="submit">ENVIAR</button>


                    <i class="bi bi-emoji-laughing"></i></p>
                </form>

            </div>
        </main>
    </div>

    <script>

        function beforeSubmit(event) {
            event.preventDefault(); //Esto evita que se envie el formulario al back

            //TODO obtener los productos del carrito de compras y enviarlos al back
            // const productos = JSON.parse(localStorage.getItem('productos-en-carrito'))
            // document.getElementById('myForm').elements['imagen'].value = _e; //esto cambia el valor de un input
            
            // fetch('/pedidos', {
            //     method: 'POST',
            //     body: {
            //         nombre_cliente: document.getElementById('myForm').elements['nombre_cliente'].value,
            //         direccion_cliente: document.getElementById('myForm').elements['direccion_cliente'].value,
            //     }
            // })
            document.getElementById('myForm').submit(); //Esto envia el formulario al back
        }
    </script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{url_for('static', filename='./js/carrito.js')}}"></script>
    <script src="{{url_for('static', filename='./js/menu.js')}}"></script>
</body>

</html>