<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>DATOS DEL CLIENTE</title>
</head>
<body>
    <form action="">
        <h1>DATOS DEL CLIENTES</h1>
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Apellido">
        <input type="email" placeholder="Celular">
        <input type="text" placeholder="Direccion">


        <p class="link"> SELECCIONAR UNA TALLA</p>
        <center><select id="TALLA" name="TALLA">
            <option value="Talla xxs">XXS</option>
            <option value="Talla xs">XS</option>
            <option value="Talla s">S</option>
            <option value="Talla M">M</option>
            <option value="Talla L">L</option>
            <option value="Talla xl">XL</option>
        </center>
        </select>
        



        <p class="link"> METODO DE PAGO</p>
        <center><select id="metodoPago" name="metodoPago">
            <option value="NEQUI">NEQUI</option>
            <option value="CONTRAENTREGA">CONTRAENTREGA</option>
            <option value="RECOGER EN TIENDA">RECOGER EN TIENDA</option></center>
        </select>
        <button>ENVIAR</button>
    </form>
</body>
</html>
