<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='./css/layout.css')}}">
  <title>Rock Start Boutique Shop</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="{{url_for('static', filename='./js/administrador.js')}}"></script>
</head>

<body>
  {% include 'components/header/header.html' %}
  {% include 'components/menu/menu.html' %}


  <div class="color">
    <a name="ancla-1"></a>
    <H1>NOVEDADES</H1>
    {% include 'components/novedades/novedades.html' %}


    {% include 'components/aboutAs/aboutAs.html' %}
    <hr>

    <a name="ancla-3"></a>

    <h1>EXPERIENCIAS DE CLIENTES</h1>
    {% include 'components/comentarios/comentarios.html' %}
  </div>

  {% include 'components/footer/footer.html' %}
  <script src="{{url_for('static', filename='./js/layout.js')}}"></script>
</body>

</html>